#Message {
    font-size: 14pt;
    font-family: Cursive,Verdana,Lucida;
    color: white;
    text-shadow: 2px 2px black;
}
#Date {
    font-size: 11pt;
    font-family: Cursive,Verdana,Lucida;
    font-weight: bold;
}
#Label {
    font-size: 12pt;
    font-family: Impact,Verdana,Lucida;
}
.publicate {
    background-color: #00ff00;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
}
.message {
    font-family: Verdana,Lucida,Courier;
    font-size: 10pt;
    width: 340px;
    min-width: 340px;
    max-width: 340px;
    height: 51px;
    min-height: 51px;
    max-height: 51px;
    overflow-y: scroll;
    resize: none;
}
.lien { width: 340px; }
.separator {
    width: 2px;
    height: 112px;
    background-color: white;
    margin-right: 10px;
}
.tinyProfile {
    width: 22px;
    height: 22px;
}
.link {
    font-size: 12pt;
    font-family: Cursive,Verdana,Lucida;
    color: blue;
}
.comment {
    font-size: 8pt;
    font-family: Verdana,Lucida,Courier;
}
.pubImage { border-radius: 5px; }
.remove:hover { cursor:pointer; }

